/* Carbon Components Svelte */

/* Remove bottom margin & round */
.bx--modal-content {
  margin-bottom: 0 !important;
}

.bx--modal-close {
  border-radius: 0 10px 0 0 !important;
}

/* Remove background color */
.bx--modal-container,
.bx--data-table td {
  background-color: #ffffff !important;
}

.bx--data-table th {
  background-color: #f0f0f0 !important;
}

/* Standard */
.bx--label {
  font-size: 0.75rem !important;
  text-align: left !important;
  letter-spacing: 0.32px;
}

.bx--number__input-wrapper > input {
  font-weight: 400 !important;
  font-size: 0.875rem !important;
}

/*
  For Desktop, dialog with radius
  For mobile, fullscreen no radius
*/
@media (min-width: 672px) {
  .bx--modal-container {
    border-radius: 10px !important;
  }
}

@media (max-width: 672px) {
  .bx--modal-content {
    margin-bottom: 0 !important;
  }

  .bx--modal-close {
    border-radius: 0 !important;
  }
}

.bx--number__control-btn::before,
.bx--number__control-btn::after {
  background-color: transparent !important;
}

/* Svelte-Tabs */

.svelte-tabs__tab-list {
  border-bottom: none !important;
}
