.ad-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.ad-absolute {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 100px;
}

@media (min-width: 672px) {
  .ad-absolute {
    position: default;
  }
}

iframe {
  background-color: white;
  outline: none;
}