body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 300px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  min-width: 280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
