.bx--modal-content {
  margin-bottom: 0 !important;
}

.bx--modal-close {
  border-radius: 0 10px 0 0 !important;
}

@media (min-width: 672px) {
  .bx--modal-container {
    border-radius: 10px !important;
  }
}

@media (max-width: 672px) {
  .bx--modal-content {
    margin-bottom: 0 !important;
  }

  .bx--modal-close {
    border-radius: 0 0 0 0 !important;
  }
}
