.main-btn {
  color: #5c62fe;
  background: transparent;
  border: 2px solid #5c62fe;
  border-radius: 10px !important;
  padding: 0.4rem 1rem;
  cursor: pointer;
  margin-top: 5px;
  font-size: 16px;
}

.main-btn:hover,
.main-btn:focus {
  color: white;
  background: #5c62fe;
  transition-duration: 0.3s;
  outline: none;
}

.bordered {
  border: 2px solid red !important;
  border-radius: 10%;
}

.grade-row {
  width: 25%;
}

@media screen and (max-width: 360px) {
  .grade-row {
    width: 30% !important;
  }
}

@media screen and (max-width: 320px) {
  .grade-row {
    width: 35% !important;
  }
}

.table {
  margin-top: 25px;
  margin-bottom: 5px;
}

.cog {
  background-color: #F4F4F4;
  border-bottom: 1px solid #8d8d8d;
  margin-bottom: 12px;
  border-radius: 0px !important
}
