h1 {
  font-size: 3rem;
  line-height: 1.1;
}

@media (max-width: 440px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 380px) {
  h1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 1.75rem;
  }
}
