:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p {
  font-size: 13px !important;
}

button {
  color: red;
  background: transparent;
  border: 2px solid red;
  border-radius: 10px !important;
  padding: 0.4rem 1rem;
  cursor: pointer;
}

button:hover {
  color: white;
  background: red;
}

button:focus {
  outline: none;
}

@media (min-width: 672px) {
  .bx--modal-container {
    border-radius: 10px !important;
  }
}

@media (max-width: 672px) {
  .bx--modal-content {
    margin-bottom: 0 !important;
  }
}
